.Tetris {
    position: relative;
}

.start-button {
    padding: 15px 30px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: #6a0dad;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #520a80;
}

.game-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.side-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
}