* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root,
.App,
.Game,
.Tetris {
    height: 100%;    
}

.App {
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    background-color: #4b0082;
    height: 100vh;
}